.DisplayStrip {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.stripImage {
  width: 100%;
}

.DisplayStrip h2,
.DisplayStrip h3 {
  margin: 0;
}

.DisplayStrip a {
  text-decoration: underline;
}
